<% if (typeof partners != "undefined")  { %>
    <div class="container-fluid bg-light p-5">
        <h2 class="text-center mb-5">Our Partners</h2>
        <div class="row mb-3">
        <% for (let i = 0; i < partners.length; i++) { %>
            <div class="col-sm text-center">
                <img src="<%= partners[i].postImage %>" class="img-thumbnail" alt="<%= partners[i].name %>">
            </div>
        <% } %>
        </div>
    </div>
<% } %>

<footer class="footer-area section-padding-50">
    <div class="main-footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-4 col-sm-6 px-4">
                    <div class="footer-widget-area">
                        <div class="footer-logo mb-3">
                            <img src="<%= siteInfo.siteLogo %>" alt="ACEITSE logo" class="bg-white p-3">
                        </div>
                        <p class="col-10 p-0">Centre of Excellence In Innovative and Transformative STEM Education (CITSE)</p>
                        <div class="footer-social-info">
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-sm-6 px-5">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <h6>Latest News</h6>
                        </div>
                        <%- include("../partials/newsbit") %>
                    </div>
                </div>

                <div class="col-12 col-lg-4 col-sm-6 px-5">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <h6>News Letter</h6>
                        </div>

                        <div class="footer-newsletter-area">
                            <form action="/subscribe" method="POST">
                                <input type="email" class="form-control border-0 mb-0" name="newsletterEmail" id="newsletterEmail"
                                    placeholder="Your Email Here" required>
                                <button type="submit" id="submitData">Subscribe</button>
                            </form>
                            <p class="fa-lg">Don't miss any ACEITSE news, events, publications and more.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="bottom-footer-content">
                        <div class="copywrite-text">
                            <p>
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                                website was built with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://github.com/lasu-code" target="_blank">LASUCODES TEAM</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>