<div class="col-sm-4">
    <div class="medilife-blog-sidebar-area">
        <!-- Latest News -->
        <div class="latest-news-widget-area mb-50">
            <h5>Latest News</h5>
            <div class="widget-blog-post">
                <!-- Single Blog Post -->
                <% if (doc.length < 1) { %>
                <h2>No Latest News</h2>
                <%} else { %>
                    <%- include("../partials/newsbit") %>
                <%} %>

            </div>
        </div>
    </div>
</div>