<div class="col-12 col-lg-4">
    <div class="medilife-blog-sidebar-area">
        <!-- Latest News -->
        <div class="latest-news-widget-area mb-50">
            <h5>Latest News</h5>
            <div class="widget-blog-post">
                    <% for(var i=0; i < doc.length; i++) { %>

                <!-- Single Blog Post -->
                <div class="widget-single-blog-post d-flex align-items-center">
                    <div class="widget-post-thumbnail pr-3">
                            <img src="<%=doc[i].newImg%>" alt="">

                    </div>
                    <div class="widget-post-content">
                        <!-- <a href="#">A big discovery for medicine</a> -->
                        <a href="/news"><%=doc[i].title%></a>

                        <!-- <p>Dec 02, 2017</p> -->
                        <p><%=doc[i].createdDate%></p>

                    </div>

                </div>
                <%}%>


                
            </div>
        </div>
    </div>
</div>