<div class="col-12 col-lg-4">
    <div class="medilife-blog-sidebar-area">
        <!-- Latest News -->
        <div class="latest-news-widget-area mb-50">
            <h5>Latest News</h5>
            <div class="widget-blog-post">
                <!-- Single Blog Post -->
                <% if (doc.length < 1) { %>
                <h2>No Latest News</h2>
                <%} else { %>
                    <% for (var i = 0; i < doc.length; i++) { %>
                    <a href="/news-lists/<%= doc[i]._id%>">
                        <div class="widget-single-blog-post d-flex align-items-center">
                            <div class="widget-post-thumbnail pr-3">
                                <img src="<%= doc[i].newImg %>" alt="">
                            </div>
                            <div class="widget-post-content">
                                <a href="#"><%= doc[i].title %></a>
                                <p><%= doc[i].createdDate %></p>
                            </div>
                        </div>
                    </a>
                    
                    <% } %>
                <%} %>
                
            </div>
        </div>
    </div>
</div>