<div class="form-group row">
    <label for="cono1" class="col-sm-3 text-right control-label col-form-label"><%= fieldlabel %></label>
    <div class="col-sm-9">
        <textarea class="form-control" name="<%= fieldname %>" class="form-control" id="<%= fieldname %>"><%= valueField %></textarea>
    </div>
</div>