<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard"
                        aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="fa fa-home"></i><span class="hide-menu">Homepage
                        </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/dashboard/slider" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span
                                    class="hide-menu"> Sliders </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/speech" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span
                                    class="hide-menu"> VC's Speech </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="fa fa-info"></i><span class="hide-menu">About
                            Pages </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/dashboard/justification" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span
                                    class="hide-menu"> Justification </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/vision" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"> Vision </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/mission" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"> Mission </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/objectives" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"></span>
                                Objectives </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/contact-us" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"></span>
                                Contact Us </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="fa fa-university"></i><span class="hide-menu">Programmes
                            Pages </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/dashboard/education" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span
                                    class="hide-menu"> Education </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/teaching" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"> Teaching </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/learning-activities" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"> Learning Activities </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/skills-gap" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"> Skills Gap To Be Bridged </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/innovations-in-padegogy" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"> Innovations In Padegogy </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/degree-programmes" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"> Academic and Professional Programmes </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/online-courses" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"></span> Online Courses </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="fa fa-laptop"></i><span class="hide-menu">Research
                            Pages </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/dashboard/research-plan" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span
                                    class="hide-menu"> Research Plan </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/industrial-partnerships" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"> Industrial and Sectorial Partnership </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/academic-partnerships" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu">
                                    Partnership With Academic Institution</span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="fa fa-people-carry"></i><span class="hide-menu">Recruitment
                            Pages </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/dashboard/retention-support" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span
                                    class="hide-menu"> Retention and Support </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/student-recruitment" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"> Student Recruitment </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false"><i class="fa fa-handshake"></i><span class="hide-menu">Management
                            Pages </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/dashboard/staff" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span
                                    class="hide-menu"> Staff </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/centre-operations" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"> Centre Operations </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/implementation-timeline" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"></span>
                                Implementation Timeline </span></a></li>
                        <li class="sidebar-item"><a href="/dashboard/industrial-advisory-boards" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span
                                    class="hide-menu"></span>
                                Industrial Advisory Board </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard/news"
                        aria-expanded="false"><i class="fa fa-volume-up"></i><span class="hide-menu">News</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard/settings"
                        aria-expanded="false"><i class="fa fa-cog"></i><span class="hide-menu">CMS Settings</span></a></li>
                        <hr>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/" target="blank" aria-expanded="false"><i
                                    class="fa fa-bookmark"></i><span class="hide-menu">View Site</span></a></li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>